body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

#site {
  display: grid;
  grid-column: 2;
  background-color: #009543;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  color: white;
}

#header {
  display: grid;
  justify-self: center;
  width: 100vw;
  justify-content: center;
  height: 15vh;
  background: url("./assets/logohcpa.png") no-repeat center darkgreen;
  background-size: contain;
  background-origin: content-box;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  display: grid;
  justify-self: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  padding: 0 4vw;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#name {
  display: grid;
  grid-column: 3;
  grid-row: 1;
  margin-bottom: 1vh;
  border-radius: 15px;
  border-style: none;
}

#leito {
  display: grid;
  grid-column: 3;
  grid-row: 2;
  margin-top: 1vh;
  border-radius: 15px;
  border-style: none;
}

#limpar {
  display: grid;
  grid-column: 2;
  grid-row: 4;
  align-content: center;
  border-radius: 10px;
  border-style: none;
}

#submit {
  display: grid;
  grid-column: 4;
  grid-row: 4;
  align-content: center;
  border-radius: 10px;
  border-style: none;
}

.font {
  font-size: 15px;
  font-weight: 400;
}

/*

@media screen and (max-width: 500px) {
  #site {
    background-color: #009543;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    color: white;
  }

  #header {
    background-color: darkgreen;
    width: 100vw;
    justify-content: center;
    height: 15vh;
    background-image: url("./assets/logohcpa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 35px;
  }

  #name {
    border-radius: 15px;
  }

  #leito {
    border-radius: 15px;
  }

  #limpar {
    border-radius: 10px;
    background-color: white;
  }

  #submit {
    border-radius: 10px;
  }
}
*/